{% extends "layout.html" %}

{% block title %}Hello!{% endblock %}

{% set has_jumbotron = true %}

{% block body %}
    <div class="jumbotron">
        <h1>Stratagem</h1>
        <a href="https://github.com/taeram/stratagem">Stratagem</a> is a whitelist
        management tool for <a href="http://mailgun.com">Mailgun</a>
    </div>

    <div style="text-align: center">
        <small>
            Source available on
            <a href="https://github.com/taeram/stratagem",target="_blank"><span class="fa fa-github-alt"></span> GitHub</a>
        </small>
    </div>
{% endblock %}
